<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mama's Recipe Book</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    .navbar{
      background :#ff002a;
      border:#ff002a;
      color:black;
    }

    .navbar-inverse .navbar-nav > .active > a {
      background:#ff002a;
      border:#ff002a;
    }

    .panel-primary>.panel-heading{
      background:#8cf6e3;
      border:#8cf6e3;
      color:black;
    }
    .panel-primary{
      border:#8cf6e3;
    }
    .navbar-inverse .navbar-nav>li>a{
    color:black;
    }

    .navbar-inverse .navbar-brand{
    color:black;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color:black;
    background:#ff002a;
    }

</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mama's Recipe Book</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
          </div>
        </nav>
      </div>
    <footer>
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <div style="font-size: 8px">© Copyright 2018 - </div>
        </div>
      </div>
    </footer>
</body>
</html>
